@import 'tailwindcss';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
  --background-image-login-bg: url('../public/login-background-min.jpg');

  --color-transparent: transparent;
  --color-current: currentColor;
  --color-primary: #8ba888;
  --color-primaryDark: #69816e;
  --color-secondary: #f1ebe1;
  --color-secondaryDark: #c0cfb2;
  --color-accent: #10b981;
  --color-background: #f9fafb;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;
  --color-text: #111827;
  --color-muted: #6b7280;
  --color-error: #ef4444;
  --color-success: #22c55e;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  .anybody-fonty {
    font-family: 'Jost', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
  }

  /* .anybody-fonty {
  font-family: "Anybody", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

  /* * {
  font-family: Georgia, serif;
} */

  /* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

  Form label {
    width: 100%;
  }

  Form input,
  Form textarea {
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 4px;
    width: 100%;
  }

  Form input:focus {
    outline: none;
    border: #8ba888 2px;
  }
}

@keyframes wiggle {
  
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
